/*----------------------------html*/

html {
    background-image: url("../assets/images/rayi-christian-wicaksono-6PF6DaiWz48-unsplash.jpg");
    position: fixed;
    min-height: 100%;
    min-width: 100%;
    background-repeat: no-repeat;
    background-color: black;
    background-size: cover;


}

/*---------------------------------navbar*/

.navbar {
    font-family: "Karla", sans-serif;
    text-transform: uppercase;
    padding: 0px;
    font-weight: bolder;
    color: #E6FFFB;
}


.navbar-dark .navbar-nav .nav-link {
    color: #EA1201;
    font-weight: normal;
}       

.navbar-dark .navbar-nav .nav-link:hover {
    color: #960A03;
}

.navbar-dark .navbar-nav .active>.nav-link {
    color: #EA1201;
    font-weight: bolder;

}

.navbar-dark>.navbar-brand {
    background-color: #00002B;
    margin-right: 50px;
    padding-right: 50px;
    color: #1319EB;
}

/*---------------------------------footer*/

.social-links {
    color: #EA1201;
    font-size: large;
    transition: all;
    transition-timing-function: ease-in-out;


}

.social-links:hover {
    color: #960A03;
    text-decoration: none;

}

.footer {
    font-family: "Karla", sans-serif;
    text-align: center;
    position: absolute;
    bottom: 0px;


}


/*--------------------------------------list*/

li {
    padding-left: 150px;
    list-style-type: none;
    float: left;
}


ul {
    text-align: center;
    display: inline-block;
    padding: 0;
}



/*--------------------------------------img-fluid*/

.img-fluid {
    max-width: 100%;
    height: auto;
}


/*------------------------------------------container*/

.container {
    background-color: black;
    margin-top: 250px;
    width: 30%;
}

/*----------------------------------------------media query--*/

@media (max-width:1000px) {
    li {
        padding-left: 35px;
    }

}
