/*----------------------------html*/

html {
    background-image: url("../assets/images/rayi-christian-wicaksono-6PF6DaiWz48-unsplash.jpg");
    min-height: 100%;
    min-width: 100%;
    background-repeat: no-repeat;
    background-color: black;
    background-size: cover;
    overflow-y: scroll;


}

/*---------------------------------body*/

body {
    background-color: transparent;
}


/*---------------------------------navbar*/

.navbar {
    font-family: "Karla", sans-serif;
    padding: 0px;
    font-weight: bolder;
    color: #E6FFFB;
}


 
.navbar-dark .navbar-nav .nav-link {
    color: #EA1201;
    font-weight: normal;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #960A03;
}

.navbar-dark .navbar-nav .active>.nav-link {
    color: #EA1201;
    font-weight: bolder;

}

.navbar-dark>.navbar-brand {
    background-color: #00002B;
    margin-right: 50px;
    padding-right: 50px;
    color: #1319EB;
}

.nav-link {
    margin: 0px 50px 0px 50px;
}


/*----------------------------------index.html page content*/

.index-text-style {
    color: #EA1201;
    text-align: center;
}


/*--------------------------------------about.html page content*/

.about .about-image .skill 

.work-history {
    margin-bottom: 0px;
}

/*---------------------------------footer*/

.social-links {
    color: #EA1201;
    font-size: large;
    transition: all;
    transition-timing-function: ease-in-out;
    margin: 15px 50px 15px 50px;


}

.social-links:hover {
    color: #960A03;
    text-decoration: none;
  

}

.footer {
    font-family: "Karla", sans-serif;
    text-align: center;
    position: fixed;
    bottom: 0px;
    background-color: #343a40;
    
}


/*--------------------------------------list*/

li {
    list-style-type: none;
}





/*--------------------------------------img-fluid*/

.img-fluid {
    max-width: 100%;
    height: auto;
}


/*------------------------------------------jumbotron*/

.jumbotron {
    top: 5em;
    margin-bottom: 0px;
    background-color: transparent;
    
}


/*------------------------------------------container*/

.container {

    margin-top: 50px;

}



/*----------------------------------------------media query--*/

@media (max-width:767px) {
    .social-links {
        margin: 15px;
    }

}


