/*----------------------------html*/

html {
    background-image: url("../images/rayi-christian-wicaksono-6PF6DaiWz48-unsplash.jpg");
    background-repeat: no-repeat;
    background-color: black;
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
    overflow-y: auto;



}

/*---------------------------------body*/

body {
    
    background-color: transparent;
    padding-bottom: 60px;
    padding-top: 60px;
}


/*---------------------------------navbar*/

.navbar {
    font-family: "Karla", sans-serif;
    font-weight: bolder;
    color: #FEF6EA;
    padding: 0px;
}



.navbar-dark .navbar-nav .nav-link {
    color: #FEF6EA;
    font-weight: normal;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #E8FF00;
}

.navbar-dark .navbar-nav .active>.nav-link {
    color: #FEF6EA;
    font-weight: bolder;
    text-decoration: underline;

}

.navbar-dark>.navbar-brand {
    background-color: #000000;
    margin-right: 50px;
    padding-right: 50px;
    padding-left: 50px;
    color: #E8FF00;
    font-family: "Caveat", cursive;
    
}

.nav-link {
    margin: 0px 50px 0px 50px;
}
.navbar.navbar-expand-lg.fixed-top.navbar-dark {
    background-color: #000000;
}


/*----------------------------------index.html page content*/

.index-text-style {
    color: #FEF6EA;
    text-align: center;
    background-color: #91918E;
    opacity: 0.8;
    border: 15px solid #7D7D7A;
    margin: 0px 15px 0px 15px;
}

.embed-responsive {
    width: 70%;
    opacity: 0.9;
}


/*--------------------------------------about.html page content*/

.about,
.skills,
.work-history {
    background-color: #91918E;
    border: 15px solid #7D7D7A;
    padding-bottom: 25px;
    padding-top: 25px;
    opacity: 0.8;
    margin: 0px 15px 0px 15px;
    color: #FEF6EA;




}

.about-image {
    width: 100%;
    height: 100%;
    border: 15px solid #7D7D7A;



}

.about-image-container {
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px 15px 0px 15px;

}



.work-history-style {
    padding-left: 0px;
}

.about-me-p {
    margin: 0px;
    font-size: small;
    text-align: left;
    color: #FEF6EA;

}

.progress {
    background-color: #5e6164;
}

.progress-bar {
    background-color: #000000;
}

h4 {
    text-decoration: underline;
}

h6 {
    margin-top: 10px;
    margin-bottom: 0px;
}

/*---------------------------------portfolio page content*/

.works-done {
    background-color: #91918E;
    border: 15px solid #7D7D7A;
    opacity: 0.8;
    font-size: small;
    padding-bottom: 70px;
    margin: 0px 15px 0px 15px;


}

.portfolio-p {
    margin-top: 15px;
    text-align: center;
    color: #FEF6EA;

}

.portfolio-image {
    width: 100%;
    height: 100%;
    padding-bottom: 35px;
}

.portfolio-heading {
    margin-bottom: 50px;
    color: #FEF6EA;
    text-align: center;
}

/*---------------------------------contact page content*/

.contact-page-style {
    background-color: #91918E;
    border: 15px solid #7D7D7A;
    opacity: 0.8;


}

.contact-p {
    background-color: #91918E;
    text-align: center;
    font-weight: bold;
    opacity: 0.8;
    color: #FEF6EA;
}


.btn {
    background-color: black;
    border: 15px black;
    color: #FEF6EA;
    margin: 10px;
}

.btn:hover {
    color: #960A03;
    background-color: black;
}

.contact-details {
    background-color: white;
    margin-top: 25px;
    margin-bottom: 35px;
    text-align: center;
}

.download-resume {
    color: #FEF6EA;
    font-size: larger;
    background-color: black;
    width: 100%;


}

.download-resume:hover {
    text-decoration: none;
    color: #E8FF00;
}

.contact-list {
    padding-left: 0px;

}



/*---------------------------------footer*/

.social-links {
    color: #FEF6EA;
    font-size: large;
    transition: all;
    transition-timing-function: ease-in-out;
    margin: 15px 50px 15px 50px;


}

.social-links:hover {
    color: #E8FF00;
    text-decoration: none;


}

.footer {
    font-family: "Karla", sans-serif;
    text-align: center;
    bottom: 0px;
    background-color: #000000;

}


/*--------------------------------------list*/

li {
    list-style-type: none;
    text-align: center;
}





/*--------------------------------------img-fluid*/

.img-fluid {
    max-width: 100%;
    height: auto;
}




/*------------------------------------------container*/

.container {

    margin-top: 50px;

}



/*----------------------------------------------media query--*/

@media (max-width:767px) {
    .social-links {
        margin: 15px;
    }

}

@media (max-width:1024px) {
    .works-done {
        padding-bottom: 100px;

    }

    .contact-details-style {
        margin-left: 15px;
        margin-right: 15px;

    }
    
    .embed-responsive {
        width: 90%;
    }
}
